{% extends 'base.html' %}

{% block title %}Codice elit{% endblock %}

{% block content %}
<div>
    <h1>Welcome!!!</h1>
    <p>Welcome to Codice Elit! This site have some articles about Information Tecnology, programming and eletronic, my favorite themes.</p>
    <p>This name was chosen based on the Latin, so it's a little different. But I wanted to leave something that represented something like "Code developer". What exactly the site proposes, to be a site for developers.</p>
    <p>And I... I'm ConteRL, the author of this code and site. I intend to make this site a space to learning more this themes and reinforce what I've learned. I also want to write in English, and this is a perfect opportunity to make it. In summary, this sites help me to show my projects to all world. And I hope you lake it.</p>
    <p>Let's go to the content!</p>
</div>
{% endblock %}