{% extends 'base.html' %}

{% block title %}Codice elit{% endblock %}

{% block content %}
<div>
    <h1>Welcome!!!</h1>
    <p>Welcome to Codice Elit! This site have some articles about Information Tecnology, programming and eletronic, my favorite themes.</p>
    <p>This name was chosen based on the Latin, so it's a little different. But I wanted to leave something that represented something like "Code developer". What exactly the site proposes, to be a site for developers.</p>
    <p>And I... I'm ConteRL, the author of this code and site. I intend to make this site a space to learning more this themes and reinforce what I've learned. I also want to write in English, and this is a perfect opportunity to make it. In summary, this sites help me to show my projects to all world. And I hope you lake it.</p>
    <p>Let's go to the content!</p>
</div>
<div>
    <h1>My projects</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Hello World!
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              This project open my repository in GitHub. It represents my change of interest, because I'm beginning to develop in Python.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Learning Pandas
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            It's a particular interest. Pandas is a library many speaked about make data manipulation. It's very interesting to many things, math, engineering, science, physics, chemistry, health... Tables and data there are in many matters.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Learning Socket
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Socket is a concept that is also heavily worked on in the programming community. I'm going to learn how to make sockets to develop some future projects with a difference, connecting networks and processes.
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}